<div class="jumbotron text-center">
 <h1>Welcome to Share My Kloset</h1>
  <h3> Welcome to Share My Kloset! Refresh your wardrobe by selling and buying directly from other stylish ladies. Find a dress for every occasion and a friend for every conversation.</h3>
</div>  