<!DOCTYPE  html>
<html>
   <head>
    </head> 
  <body>
    <p>
      You have a received a message for SMK coontact form, form <%="#{ @name}, #{@email}." %></p>
    <p><%= @body %></p>
  </body>
 </html> 
    
    